body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='800' preserveAspectRatio='none' viewBox='0 0 1440 800'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1395%26quot%3b)' fill='none'%3e%3crect width='1440' height='800' x='0' y='0' fill='url(%26quot%3b%23SvgjsRadialGradient1396%26quot%3b)'%3e%3c/rect%3e%3cpath d='M1440 0L969.3299999999999 0L1440 236.59z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M969.3299999999999 0L1440 236.59L1440 242.73L893.55 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M893.55 0L1440 242.73L1440 405.27L860.99 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M860.99 0L1440 405.27L1440 616.7L336.22 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 800L433.34 800L0 665.23z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 665.23L433.34 800L784.64 800L0 310.90000000000003z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 310.9L784.64 800L955.4 800L0 242.86999999999998z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 242.87L955.4 800L980.4 800L0 118.82000000000001z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1395'%3e%3crect width='1440' height='800' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cradialGradient cx='100%25' cy='0%25' r='1647.3' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient1396'%3e%3cstop stop-color='rgba(182%2c 214%2c 255%2c 1)' offset='0.57'%3e%3c/stop%3e%3cstop stop-color='rgba(157%2c 200%2c 255%2c 1)' offset='0.97'%3e%3c/stop%3e%3c/radialGradient%3e%3c/defs%3e%3c/svg%3e");
  margin: 0;
}


header {
  width: 100%;
  background-color: #227adf;
  display: flex;
}

header h1 {
  color: white;
  text-align: center;
  padding: 14px 16px;
}

header nav {
  display: flex;
  justify-content: center;
}

header ul {
  list-style-type: none;
  margin-top: 0;
  padding: 0;
  display: flex;
  align-items: center
}

header ul li {
  display: flex;
position: relative;
}

header ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

header ul li a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  list-style-type: none;
  padding: 0;
  margin: 0;
  left: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #81c1f5;
}

header ul li:hover .dropdown-content {
  display: block;
}

header ul li:hover .dropdown-content {
  display: block;
}
.contacto{
    padding-top:0.5rem;
    display: flex;
    align-items: center;
}
.ubicacion{
  color: blue;
  font-size: 20px;
}

.opciones {
  display : flex;
  align-content: center;
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
}

footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1366px;
  margin: 0 auto;
}

footer .column {
  flex: 1;
  margin: 10px;
  min-width: 200px;
}

footer h3 {
  border-bottom: 1px solid #4CAF50;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer ul li {
  margin: 5px 0;
}

footer ul li a {
  color: white;
  text-decoration: none;
}

footer ul li a:hover {
  text-decoration: underline;
}

footer .social-icons {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

footer .social-icons a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-size: 24px;
}

footer .social-icons a:hover {
  color: #4CAF50;
}

.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.button-33 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  font-size: 16px;
}

.button-33:hover {
  box-shadow: rgba(49, 187, 44, 0.35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.button-34 {
  background-color: #fd8686;
  border-radius: 100px;
  box-shadow: rgba(121, 0, 0, 0.2) 0 -25px 18px -14px inset, rgba(187, 44, 44, 0.15) 0 1px 2px, rgba(187, 44, 44, 0.15) 0 2px 4px, rgba(187, 44, 44, 0.15) 0 4px 8px, rgba(187, 44, 44, 0.15) 0 8px 16px, rgba(187, 44, 44, 0.15) 0 16px 32px;
  color: rgb(184, 42, 42);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
}

.button-34:hover {
  box-shadow: rgba(187, 44, 44, 0.35) 0 -25px 18px -14px inset, rgba(187, 44, 44, 0.25) 0 1px 2px, rgba(187, 44, 44, 0.25) 0 2px 4px, rgba(187, 44, 44, 0.25) 0 4px 8px, rgba(187, 44, 44, 0.25) 0 8px 16px, rgba(187, 44, 44, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}


table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

table th,
table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #f2f2f2;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.edit,
.delete,
.add {
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
  margin-right: 5px;
}

.edit {
  background-color: #4CAF50;
  color: white;
}

.delete {
  background-color: #f44336;
  color: white;
}

.add {
  background-color: #008cba;
  color: white;
  display: inline-block;
  margin-bottom: 20px;
}

.add:hover,
.edit:hover,
.delete:hover {
  opacity: 0.8;
}


form {
  font-family: Arial, sans-serif;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: 20px;
}

form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

form input[type="email"],
form input[type="password"],
form input[type="datetime-local"],
form input[type="text"],
form input[type="number"],
form input[type="file"],
form select,
form textarea {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

form input[type="file"] {
  padding: 4px;
}

form select {
  appearance: none;
  background: url('data:image/svg+xml;utf8,<svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M6 9l6 6 6-6"></path></svg>') no-repeat right 10px center;
  background-color: #fff;
  background-size: 12px;
}

form select:required,
form textarea:focus {
  border-color: #4CAF50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
  outline: none;
}

.inputdiv {
  display: flex;
  align-items: center;
  gap: 10px;
}

input[type="submit"],
.inputdiv a {
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

.inputdiv a {
  background-color: #0066ba;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

.inputdiv a:hover {
  background-color: #0041ba;
}

form textarea {
  resize: vertical; /* Permitir cambiar el tamaño verticalmente */
}

@media only screen and (max-width: 600px) {
  header ul {
    flex-direction: column;
  }
  
  header ul li {
    margin: 0 5px;
    float: none;
  }
  
  footer .column {
    flex: 1 1 100%;
  }
}

